/* Base styles */
.container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  padding: 100px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.title {
  font-size: 50px;
  margin: 0;
}

.appName {
  color: #f6be47;
}

.introImageContainer {
  position: relative;
  width: 700px;
  height: 600px;
}

.desc {
  font-size: 20px;
  margin: 0;
}

.button {
  border: none;
  background-color: #f6be47;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  animation: button 1s ease infinite alternate;
}

/* Responsive styles */
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .card {
    padding: 50px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .title {
    font-size: 40px;
  }

  .introImageContainer {
    width: 600px;
    height: 500px;
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 35px;
  }

  .introImageContainer {
    width: 500px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .introImageContainer {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 25px;
  }

  .introImageContainer {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .card {
    padding: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .title {
    font-size: 20px;
  }

  .desc {
    display: none;
  }

  .introImageContainer {
    width: 200px;
    height: 200px;
  }
}
